{
  "extends": ["squarespace", "plugin:flowtype/recommended"],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "plugins": [
    "react",
    "flowtype"
  ],
  "globals": {
    "WOWDComponents": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.prod.js"
      }
    }
  }
}
