@import "../variables.less";

:local {
  .grid {
    @column-width: @global-grid * 9;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(@column-width, 1fr));
    grid-gap: @global-grid;
  }
}