@import "~shared/variables.less";
@import "~rc-trigger/assets/index.css";

#page {
  max-width: initial !important;
}

:local {
  .block {
    height: 100%;
    overflow-y: hidden;
    border-bottom: @rule;
    border-left: @rule;
    border-color: @background-color;
    font-size: @font-size-small;
    text-overflow: ellipsis;
    padding: 7%;
    text-align: center;
    hyphens: auto;
    line-height: 22px;
    box-sizing: border-box;

    // vertical centering
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .day {
    border-bottom: @rule;
  }

  .alternativeHeading, .timeHeading {
    font-size: 12px;
  }

  .timeHeading {
    // color: @font-color-faded;
  }

  .alternation {
    margin-bottom: @global-grid / 4;
  }

  .show {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .colorLink(@color) {
    color: @color;
    &:hover {
      color: darken(@color, 20%);
    }
  }

  .day:nth-of-type(2) .block a {
    .colorLink(#00645a);
  }
  
  .day:nth-of-type(4) .block a {
    .colorLink(#c0136c);
  }

  .day:nth-of-type(2n + 1) .block a {
    .colorLink(#612B16);
  }

  .day:nth-of-type(6) .block a {
    .colorLink(#0e289c);
  }

  .day:nth-of-type(8) .block a {
    .colorLink(#8c11ba);
  }
  .day .block {
    background-color: #ebdab6;
  }
  // 
  .popupContainer {
    width: 300px;

    & > * {
      background-color: @background-color;
    }
  }

  .slideUpEnter, .slideUpAppear {
    opacity: 0.01;
    transform: translateY(5px);
  }

  .slideUpEnterActive, .slideUpAppearActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 70ms ease-in, transform 70ms ease-in;
  }

  .slideUpLeave {
    opacity: 1;
  }

  .slideUpLeaveActive {
    opacity: 0.01;
    transition: opacity 100ms ease-out, transform 100ms ease-out;
  }
}