@import "~shared/variables.less";
@import "~rc-trigger/assets/index.css";

// #page {
//   max-width: initial !important;
// }
// 
@gutters: 3px;

:local {
  .block {
    height: ~"calc(100% - "@gutters~")";
    overflow-y: hidden;
    // border-bottom: @rule;
    // border-left: @rule;
    // border-color: @background-color;
    font-size: @font-size-small;
    text-overflow: ellipsis;
    padding: 7%;
    text-align: center;
    hyphens: auto;
    line-height: 22px;
    box-sizing: border-box;

    // vertical centering
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .alternativeHeading, .timeHeading {
    font-size: 12px;
  }

  .timeHeading {
    // color: @font-color-faded;
  }

  .alternation {
    margin-bottom: @global-grid / 4;
  }

  .show {
    font-size: 14px;
    letter-spacing: 0.6px;
    // font-weight: bold;
  }

  // .day {
  //   background-color: @font-color-link;
  // }
  // 
  .day {
    margin-right: @gutters;
  }

  .block {
    // background-color: @font-color-link;
    // color: @background-color;
    border-left: @gutters solid @primary-color;
    background-color: #fff9f0;
    a {
      color: @font-color-link;
      font-weight: bold;
    }
  }

  // .blockColor(@color) {
  //   background-color: @color;
  //   color: @background-color;
  //   a {
  //     color: @background-color;
  //     &:hover {
  //       color: lighten(@color, 70%);
  //     }
  //   }
  // }

  // .day:nth-of-type(2) .block {
  //   .blockColor(#00645a);
  // }
  
  // .day:nth-of-type(4) .block {
  //   .blockColor(#c0136c);
  // }

  // .day:nth-of-type(2n + 1) .block {
  //   .blockColor(#612B16);
  // }

  // .day:nth-of-type(6) .block {
  //   .blockColor(#0e289c);
  // }

  // .day:nth-of-type(8) .block {
  //   .blockColor(#8c11ba);
  // }
  // .day .block {
  //   background-color: #ebdab6;
  // }
  // 
  .popupContainer {
    width: 300px;

    & > * {
      background-color: @background-color;
    }
  }

  .slideUpEnter, .slideUpAppear {
    opacity: 0.01;
    transform: translateY(5px);
  }

  .slideUpEnterActive, .slideUpAppearActive {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 70ms ease-in, transform 70ms ease-in;
  }

  .slideUpLeave {
    opacity: 1;
  }

  .slideUpLeaveActive {
    opacity: 0.01;
    transition: opacity 100ms ease-out, transform 100ms ease-out;
  }
}