@import "~shared/variables.less";

:local {
  .container {
    position: relative;
  }

  ol.episodes {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: @global-grid;  
  }

  .airTimes {
    font-size: @font-size-small;
  }

  .dj:not(:last-child)::after {
    content: ' / '
  }

  @sidebar-size: 300px;

  @media (min-width: 960px) {
    .episodes {
      width: calc(~"100% -" @sidebar-size + @global-grid * 2);
    }

    .showInfo {
      width: @sidebar-size;
      position: absolute;
      right: 0;
      margin: 0;
    }
  }

  .episode {
    margin-bottom: @global-grid / 2;
    padding-bottom: @global-grid / 2;
    padding-left: @global-grid * 1.5;
    border-bottom: 1px solid @font-color-faded;
    position: relative;
    & > * {
      margin-bottom: @global-grid / 4;
    }
    .title {
      font-weight: bold;

      a {
        color: @font-color-link;
      }
      a:hover {
        text-decoration: underline;
      }
    }


    .teaser {
      font-size: @font-size-small;
    }

    .inlineDate::after {
      content: ' • ';
    }

    .play {
      position: absolute;
      top: 0;
      margin-left: -@global-grid * 1.5;
      top: -2px;
    }

    .playlistButton {
      display: block;
      background: url("img/playlist.svg") no-repeat left center;
      background-size: 14px;
      padding-left: 20px;
      color: rgb(26, 26, 26);
      opacity: 0.7;
    }

    .playlistButton:hover {
      opacity: 0.9;
    }

  }
}